<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>

</head>

<body>
    <div id="app">
        <h1 v-if="ok">Yes</h1>
        <h1 v-else>No</h1>
        <hr>

        <template v-if="ok">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
        </template>
        <hr>

        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>
        <hr>

        <!-- <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address">
        </template> -->
        <button @click="tigger">tigger</button>

        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
        </template>

        <hr>


    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                ok: true,
                type: '',
                loginType: 'username'
            },
            methods: {
                tigger: function () {
                    this.loginType = this.loginType === 'username' ? 'email' : 'username'
                }
            }
        })

        // v-else 元素必须紧跟在 v-if 或者 v-else-if 元素的后面——否则它将不会被识别。
        // v-else-if 必须紧跟在 v-if 或者 v-else-if 元素之后(2.1.0 新增)

        // Vue 会尽可能高效地渲染元素，通常会复用已有元素而不是从头开始渲染; Vue 为你提供了一种方式来声明“这两个元素是完全独立的——不要复用它们”。只需添加一个具有唯一值的 key 属性即可：

        // 带有 v-show 的元素始终会被渲染并保留在 DOM 中。v-show 是简单地切换元素的 CSS 属性 display 。v-show 不支持 <template> 语法，也不支持 v-else

        // 当 v-if 与 v-for 一起使用时，v-for 具有比 v-if 更高的优先级。
    </script>

</body>

</html>